<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#"
    data-tags="#tags#" style="min-height:128px!important;min-width:150px!important;width: 150px!important;height: 128px!important">

    <center class="object_name" style="overflow: hidden;padding-right:22px;padding-left:12px;font-weight:300;word-break: break-all;max-height:45px;font-size:16px;background-color: rgba(0,0,0,0.6);font-family:Arial;font-weight:normal;">
        <a href="#eqLink#" class="reportModeHidden">#object_name#</a>
    </center>
    <center class="widget-name" style="margin-bottom: 0px;max-height:22px;">
        <a href="#eqLink#" class="reportModeHidden">#name_display#</a>
    </center>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
  <i class="fas fa-sync"></i>
</span>
    <i class="fa fa-retweet cursor tooltips changecmd noRefresh" title="Changer commandes" style="position : absolute;bottom: 3px;right: 3px;z-index: 500;"></i>

    <div class="tuile">
        <div class="page_1 " style="height:100%;padding-top: 10px;margin: 0px;display : none;">

            <div class="center">
                <img class="cmd cmd-widget img" data-cmd_id="#auto_id#" data-type="info" src='plugins/planification/core/template/dashboard/images/chauffage/#img#' style='height:75px;width:75px' />
                <span class="nom_eqLogic" style="display:none;position: absolute;top: 30px;width: 100%;color: black;font-weight: 300;font-size: 16px;">#name_display#</span>
            </div>
            <div class="center" style="width: 90%;margin: auto;padding-top:10px;">
                <img class="cmd cmd-widget confort cursor" data-cmd_id="#confort_id#" data-type="action" src="plugins/planification/core/template/dashboard/images/chauffage/bouton_confort.png" style="width:30px;">
                <img class="cmd cmd-widget eco cursor" data-cmd_id="#eco_id#" data-type="action" src="plugins/planification/core/template/dashboard/images/chauffage/bouton_eco.png" style="width:30px;position: relative;left: 0px;">
                <img class="cmd cmd-widget hors_gel cursor" data-cmd_id="#hg_id#" data-type="action" src="plugins/planification/core/template/dashboard/images/chauffage/bouton_hors_gel.png" style="width:30px;">
                <img class="cmd cmd-widget arret cursor" data-cmd_id="#arret_id#" data-type="action" src="plugins/planification/core/template/dashboard/images/chauffage/bouton_arret.png" style="width:30px;">
            </div>

            <div class="center prochaine_action tooltips" style="font-size: 0.9em;margin: 5px;color:white!important">
                <span style="cursor:default;"></span>
            </div>
        </div>

        <div class="page_2 center" style="display : none ;height:100%;margin-top : 0px">

            <div style="height:25%;">
                <select class="selectCalendar cursor tooltips" style="top: calc(100% - 26px);position: relative;width:70%;color:white!important;border-radius: 10px!important" title="Choisir une planification">
      #calendar_selector#
    </select>
            </div>
            <div style="height:25%">
                <a class='input-group-addon cursor tooltips  bt_afficher_timepicker' style=" top: 2px;margin: auto;padding: 5px 12px!important;display:block;width:70%;color:white!important;border-radius: 10px!important;position:relative;" title="Choisir Fin">
                    <span class="center fa fa-calendar" style="color:white"> 
                <input class="in_timepicker input-sm" style="position:absolute;left:30%;top:50%;height: 0px!important;width: 0px!important; padding: 0px!important;">
            </span>
                </a>
            </div>
            <div style="height:50%">
                <div class="info_widget" style="width:100%;overflow:auto;height:100%;margin: auto;font-size: 0.9em;color:white!important">
                </div>
            </div>

        </div>
    </div>
    <script src="plugins/planification/core/template/dashboard/js/widget.js" type="text/javascript"></script>
    <script>
        //refresh
        if ('#refresh_id#' != '') {
            document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .refresh').addEventListener('click', function() {
                jeedom.cmd.execute({
                    id: '#refresh_id#'
                })
            })
        } else {
            document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .refresh').remove()
        }

        document.querySelectorAll('.eqLogic[data-eqLogic_uid=#uid#] .cmd').forEach(_el => {
            if (_el.getAttribute("data-cmd_id") != null) {
                if (_el.hasClass('img')) {
                    _el.onclick = function(event) {
                        if ('#mode#' == "Manuel") {
                            jeedom.cmd.execute({
                                id: _el.getAttribute("data-cmd_id")
                            });
                        }
                    }
                } else {
                    _el.onclick = function(event) {
                        jeedom.cmd.execute({
                            id: _el.getAttribute("data-cmd_id")
                        });
                    }
                }
            }
        })



        switch ('#mode#') {
            case "Auto":
                document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').style.display = 'none'
                if ('#prochaine_action#' != "") {
                    if ('#endtime#'.length == 5) {
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('#prochaine_action# à #endtime#')
                    } else {
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('#prochaine_action# le #endtime#')
                    }
                }
                document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').title = 'Planification en cours: #planification_en_cours#';

                break
            case "Manuel":
                document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .img').addClass("cursor")
                document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .img').setAttribute("title", "Cliquez pour remettre le chauffage en auto.")
                document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .nom_eqLogic').addClass("cursor")
                document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .nom_eqLogic').setAttribute("title", "Cliquez pour remettre le chauffage en auto.")
                if ('#endtime#' != "") {
                    if ('#endtime#'.length == 5) {
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Remise en auto à #endtime#')
                    } else {
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Remise en auto le #endtime#')
                    }
                }
                switch ('#action_en_cours#') {
                    case "Confort":
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .confort').style.pointerEvents = 'none'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .confort').style.background = 'steelblue'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .eco').style.background = 'transparent'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .hors_gel').style.background = 'transparent'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .arret').style.background = 'transparent'

                        break
                    case "Eco":
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .eco').style.pointerEvents = 'none'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .confort').style.background = 'transparent'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .eco').style.background = 'steelblue'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .hors_gel').style.background = 'transparent'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .arret').style.background = 'transparent'
                        break
                    case "Hors Gel":
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .hors_gel').style.pointerEvents = 'none'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .confort').style.background = 'transparent'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .eco').style.background = 'transparent'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .hors_gel').style.background = 'steelblue'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .arret').style.background = 'transparent'
                        break
                    case "Arrêt":
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .arret').style.pointerEvents = 'none'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .confort').style.background = 'transparent'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .eco').style.background = 'transparent'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .hors_gel').style.background = 'transparent'
                        document.querySelector('.eqLogic[data-eqLogic_uid=#uid#] .arret').style.background = 'steelblue'
                        break
                }
                break



        }
        if (typeof(Commun_widget) == "function") {
            Commun_widget('#id#', '#uid#', '#info_widget#', '#action_en_cours#', '#set_planification_id#', '#endtime_change_id#', '#calendar_selector#', '#page#')
        }
        setTimeout(() => {
            Commun_widget('#id#', '#uid#', '#info_widget#', '#action_en_cours#', '#set_planification_id#', '#endtime_change_id#', '#calendar_selector#', '#page#')
        }, 100);
    </script>

</div>