<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#"> 
 
	<div>
		
        <div class="center" style="height:20px;">
            <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
                <i class="fas fa-sync"></i>
            </span>
           
            <a class="widget-name"href="#eqLink#" style="font-size : 1.3em;#hideEqLogicName#">#name_display#</a>
            <span class="alert-danger cmd cmd-widget"  style="display:#display_erreur#;">Certaines commandes n'existent pas, veuillez sauvegarder votre équipement afin de résourdre le problème.</span>
           
        </div> 
        <i class="fa fa-retweet cursor tooltips changecmd noRefresh" title="Changer commandes" style="position : absolute;bottom: 3px;right: 3px;z-index: 500;"></i>
		<div class="row page_1" style="padding-top: 10px;margin: 0px;display : #display_page_1#;">
			<div class="col-xs-6 gauche"style="padding: 0px!important;">
				
				<i class="fa fa-fire boost_on cursor tooltips" title="Activer le mode boost" style="position:relative;float:right;top:40px;display:none;font-size: 1.9em;margin-left: 5px;color:white!important"></i>
				<i class="fa fa-fire boost_off cursor tooltips" title="Désactiver le mode boost" style="position:relative;float:right;top:40px;display:none;font-size: 1.9em;margin-left: 5px;color:red!important"></i>
				<img src="plugins/planification/core/template/dashboard/images/pac/#img#" style="float: right;height: 80px;"/> 
			</div>
			<div class="col-xs-6 droite">
				<div class="Thermostat"></div>
			</div>
		</div>
		<div class="row page_1" style="padding-top: 0px;margin: 0px;display : #display_page_1#;">
			<div class="col-xs-12 center">
				<span class="action_en_cours tooltips" style="cursor:default;font-size: 0.9em;margin-left: 5px;margin-top: 5px;color:white!important"  title="Action en cours"></span>
				<span class="fleche" style="cursor:default;font-size: 0.9em;margin-left: 5px;margin-top: 5px;color:white!important"></span>
				<span class="prochaine_action tooltips" style="cursor:default;font-size: 0.9em;margin-left: 5px;margin-top: 5px;color:white!important"  title="Prochaine action"></span>
				<span class="heure_prochaine_action tooltips" style="cursor:default;font-size: 0.9em;margin-left: 5px;margin-top: 5px;color:white!important"  title="Heure prochaine action"></span>
				<div>
					<span class="planification_en_cours tooltips" style="cursor:default;font-size: 0.9em;margin-left: 5px;margin-top: 5px;color:white!important"  title="planification en cours"></span>
				</div>
			</div>
		</div>	
		<div class="row page_2" style="padding-top: 10px;margin: 0px;display : #display_page_2#;">
			<div class="col-xs-6 gauche" style="padding: 0px!important;padding-left: 50px!important;display: inline-grid;">
				<div>
					<i class="fa fa-cog Auto cursor tooltips" title="Mettre le planning en mode automatique" style="vertical-align: text-top;font-size: 30px;margin-left: 5px;color:#3498db!important"></i>
					<i class="icon jeedom-mouvement Absent cursor tooltips" title="Mettre le planning en mode absent" style="vertical-align: text-top;font-size: 30px;margin-left: 2px;color:#3498db!important"></i>
					<i class="icon nature-snowflake Climatisation cursor tooltips" title="Mettre le planning en mode climatisation forcée" style="vertical-align: text-top;font-size: 30px;margin-left: 5px;color:#3498db!important"></i>
				</div>
				<div>
					<i class="icon nature-weather1 Chauffage cursor tooltips" title="Mettre le planning en mode chauffe forcée" style="vertical-align: text-top;font-size: 30px;margin-left: 5px;color:#3498db!important"></i>
					<i class="icon jeedom-ventilo Ventilation cursor tooltips" title="Mettre le planning en mode ventilation forcée" style="vertical-align: text-top;font-size: 40px;margin-left: 5px;color:#3498db!important"></i>
					<i class="fa fa-times Arret cursor tooltips" title="Arrêter le planning" style="vertical-align: text-top;font-size: 30px;margin-left: 5px;color:#3498db!important"></i>
				</div>
				
			</div>
			<div class="col-xs-6 droite" style="padding: 0px!important;">
				<div style="position:relative;">
					<select class="cmd selectCalendar cursor tooltips" style="width:70%;color:white!important;border-radius: 10px!important" title="Choisir une planification">
							#calendar_selector#
					</select>
				</div>
				<div class='input-group-addon cursor tooltips date datetimepicker'style="padding: 6px 12px!important;display:block;width:70%;color:white!important;border-radius: 10px!important;position:relative;top: 50px;" title="Selectionner heure de fin">
					<span class="center fa fa-calendar" style="color:white"></span>
				</div>
				
			</div>
		</div>
		
	
    </div>
	<link rel="stylesheet" type="text/css" href="plugins/planification/core/template/dashboard/css/widget.css" media="all"/>
	<script src="plugins/planification/core/template/dashboard/js/widget.js" type="text/javascript"></script>
	
	
	
	<script>
		
		//var timeoutId
		SetWidget_Thermostat($('.eqLogic[data-eqLogic_uid=#uid#]'),'#set_consigne_temperature_id#','#consigne_min#','#consigne_max#','#consigne#','#temperature#')
		
		/*$( ".eqLogic[data-eqLogic_uid=#uid#] .monter_temperature" ).click( function() {
			monter_temperature($( ".eqLogic[data-eqLogic_uid=#uid#] .cercle_int" ),'#set_consigne_temperature_id#')
			
			
		} );
		$( ".eqLogic[data-eqLogic_uid=#uid#] .descendre_temperature" ).click( function() {
			descendre_temperature($( ".eqLogic[data-eqLogic_uid=#uid#] .cercle_int" ),"#set_consigne_temperature_id#")
		} );*/

		
		/*$( ".eqLogic[data-eqLogic_uid=#uid#] .cercle_int" ).mousedown( function(e) {
			drag_start(this,e)
		} );
		$( ".eqLogic[data-eqLogic_uid=#uid#] .cercle_int" ).mouseup( function(e) {
			drag_stop(this,e)
			var temp=$(this).find('.Temperature_consigne').attr("consigne")
	
			jeedom.cmd.execute({id: '#set_consigne_temperature_id#', value: {slider:$(this).find('.Temperature_consigne').attr("consigne")}});
	
			
		} );
		$( ".eqLogic[data-eqLogic_uid=#uid#] .cercle_int" ).mouseleave( function(e) {
			drag_stop(this,e)
		} );
		$( ".eqLogic[data-eqLogic_uid=#uid#] .cercle_int" ).mousemove(function(e) {
			drag_move(this,e)
		} );*/
	
		
		
	
		$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').val('#datetimepicker#');
		jQuery.datetimepicker.setLocale('fr');
		
		
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
			});
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .Absent').on('click', function () {
				if ('#boost#' == 1 ) {jeedom.cmd.execute({id: '#boost_off_id#'})}
				jeedom.cmd.execute({id: '#absent_id#'})
			})
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .Climatisation').on('click', function () {
				jeedom.cmd.execute({id: '#climatisation_id#'})
			})
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .Auto').on('click', function () {
				if ('#boost#' == 1 ) {jeedom.cmd.execute({id: '#boost_off_id#'})}
				jeedom.cmd.execute({id: '#auto_id#'})
			})
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .Chauffage').on('click', function () {
				jeedom.cmd.execute({id: '#chauffage_id#'})
			})
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .Arret').on('click', function () {
				if ('#boost#' == 1 ) {jeedom.cmd.execute({id: '#boost_off_id#'})}
				jeedom.cmd.execute({id: '#arret_id#'})
			})
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .Ventilation').on('click', function () {
				jeedom.cmd.execute({id: '#ventilation_id#'})
			})
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .boost_on').on('click', function () {
				jeedom.cmd.execute({id: '#boost_on_id#'})
			})
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').on('click', function () {
				jeedom.cmd.execute({id: '#boost_off_id#'})
			})

			$('.eqLogic[data-eqLogic_uid=#uid#] .selectCalendar').on('change', function() {
				jeedom.cmd.execute({id: '#set_planification_id#', value: {'select': $(this).value(),Id_planification:$(this)[0].options[$(this)[0].selectedIndex].id}});
			});

			$('.eqLogic[data-eqLogic_uid=#uid#] .changecmd').on('click', function () {
				var page="page1"
				if ($('.eqLogic[data-eqLogic_uid=#uid#] .page_2').css('display') == 'block'){
					page="page1"
					
					reset_page('#id#',"#uid#","page1",'#action_en_cours#')
				}else{
					page="page2"
					reset_page('#id#','#uid#','page2','#action_en_cours#')
				}
				
				$.ajax({
					type: "POST",
					url: "plugins/planification/core/ajax/planification.ajax.php",
					data: {
						action: "Set_widget_cache",
						id: "#id#",
						page : page,
					},
					global: false,
					error: function (request, status, error) {handleAjaxError(request, status, error)},
					success: function (data) {
						if (data.state != 'ok') {
							$('#div_alert').showAlert({
								message: data.result,
								level: 'danger'
							})
							return
						}
						
					}
				})	
			
			});
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').on('click', function () {
				
				$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').datetimepicker({
					minDate : '0d',
					step: 15,
					theme:'dark',
					onClose:function(dp,$input){
						console.log("close")
						$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').datetimepicker('destroy')
					},
					onSelectTime:function(dp,$input){
						jeedom.cmd.execute({id: '#endtime_change_id#', value: {'message': $input.val()}})
					}
				});
				$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').datetimepicker('show');
			});
		
		if ('#calendar_selector#' == ""){
			$('.eqLogic[data-eqLogic_uid=#uid#]  .selectCalendar').css('display', 'none');
		}
		switch ('#mode#'){
			case "Auto":
				$('.eqLogic[data-eqLogic_uid=#uid#] .Auto').css('pointer-events', 'none')
				$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').css('display', 'none')
				$('.eqLogic[data-eqLogic_uid=#uid#] .Auto').css('color', 'white')
				if ('#boost#' == 1 ){
					$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').css('pointer-events;', 'none')
					if ('#action_en_cours#' == "Chauffage"){
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').css('display', 'inline-block')
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').css('color', 'red!important')
					}else if ('#action_en_cours#' == "Climatisation"){
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off_climatisation').css('display', 'inline-block');
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').attr('style', 'color: #3498db!important ;display: inline-block; font-size: 1.9em; margin-left: 5px;');
					}
					$('.eqLogic[data-eqLogic_uid=#uid#] .action_en_cours').append('#action_en_cours# Boost')
					$('.eqLogic[data-eqLogic_uid=#uid#] .boost_on').css('display', 'none')
				}else{
					if ('#action_en_cours#' != "Chauffage" && '#action_en_cours#' != "Climatisation"){
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_on').css('display', 'none')
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').css('display', 'none')
					}else{
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_on').css('display', 'inline-block')
					}
					$('.eqLogic[data-eqLogic_uid=#uid#] .action_en_cours').append('#action_en_cours#')
				}
				if ('#action_en_cours#' == "Ventilation"){
					$('.eqLogic[data-eqLogic_uid=#uid#] .boost_on').css('display', 'none')
					$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').css('display', 'none')
				}
				if('#prochaine_action#' != ""){

					$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append(' <i class="fa fa-arrow-right"></i>')
					$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('#prochaine_action#')
					$('.eqLogic[data-eqLogic_uid=#uid#] .heure_prochaine_action').append('#endtime#')
				}else{
					$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append(' <i class="fa fa-arrow-right"></i>')
					$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append("Nouvel ordre");
				}
				break
			case "Manuel":
				switch('#action_en_cours#') {
					
					case "Arrêt":
						$('.eqLogic[data-eqLogic_uid=#uid#] .Arret').css('pointer-events', 'none')
						$('.eqLogic[data-eqLogic_uid=#uid#] .Arret').css('color', 'white')
						$('.eqLogic[data-eqLogic_uid=#uid#] .action_en_cours').append('Arrêt')
						$('.eqLogic[data-eqLogic_uid=#uid#] .droite').find(".page_1").css('display', 'none')
						$('.eqLogic[data-eqLogic_uid=#uid#] .selectCalendar').css('display', 'none')
						if('#endtime#' != ""){
							$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
							$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Auto')
							$('.eqLogic[data-eqLogic_uid=#uid#] .heure_prochaine_action').append('#endtime#')
						}
						break
					case "Absent":
						$('.eqLogic[data-eqLogic_uid=#uid#] .Absent').css('pointer-events', 'none')
						$('.eqLogic[data-eqLogic_uid=#uid#] .Absent').css('color', 'white')
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_on').css('display', 'none')
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').css('display', 'none')
						$('.eqLogic[data-eqLogic_uid=#uid#] .action_en_cours').append('Absent')
						$('.eqLogic[data-eqLogic_uid=#uid#] .selectCalendar').css('display', 'none')
						if('#endtime#' != ""){
							$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
							$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Auto')
							$('.eqLogic[data-eqLogic_uid=#uid#] .heure_prochaine_action').append('#endtime#')
						}else{
							$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
							$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Réactivation manuelle')
						}
						break
					case "Ventilation":
						$('.eqLogic[data-eqLogic_uid=#uid#] .Ventilation').css('pointer-events', 'none')
						$('.eqLogic[data-eqLogic_uid=#uid#] .Ventilation').css('color', 'white')
						$('.eqLogic[data-eqLogic_uid=#uid#] .action_en_cours').append('Ventilation (manuel)')
						$('.eqLogic[data-eqLogic_uid=#uid#] .selectCalendar').css('display', 'none')
						if('#endtime#' != ""){
							$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
							$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Auto')
							$('.eqLogic[data-eqLogic_uid=#uid#] .heure_prochaine_action').append('#endtime#')
						}else{
							$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
							$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Réactivation manuelle')
						}
						break
					case "Chauffage":
						
						$('.eqLogic[data-eqLogic_uid=#uid#] .Chauffage').css('pointer-events', 'none')
						$('.eqLogic[data-eqLogic_uid=#uid#] .Chauffage').css('color', 'white')
						$('.eqLogic[data-eqLogic_uid=#uid#] .action_en_cours').append('Chauffage (manuel)')
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_on').css('display', 'inline-block')
						$('.eqLogic[data-eqLogic_uid=#uid#] .selectCalendar').css('display', 'none')
						if('#endtime#' != ""){
							$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
							$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Auto')
							$('.eqLogic[data-eqLogic_uid=#uid#] .heure_prochaine_action').append('#endtime#')
						}else{
							$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
							$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Réactivation manuelle')
						}
						break
					case "Climatisation":
						$('.eqLogic[data-eqLogic_uid=#uid#] .Climatisation').css('pointer-events', 'none')
						$('.eqLogic[data-eqLogic_uid=#uid#] .Climatisation').css('color', 'white')
						$('.eqLogic[data-eqLogic_uid=#uid#] .action_en_cours').append('Climatisation (manuel)')
						$('.eqLogic[data-eqLogic_uid=#uid#] .boost_on').css('display', 'inline-block')
						$('.eqLogic[data-eqLogic_uid=#uid#] .selectCalendar').css('display', 'none')
						if('#endtime#' != ""){
							$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
							$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Auto')
							$('.eqLogic[data-eqLogic_uid=#uid#] .heure_prochaine_action').append('#endtime#')
						}else{
							$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
							$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Réactivation manuelle')
						}
						break	
					default:
						break					
				}
				break
			case "boost_on":
				
				if ('#action_en_cours#' == "Chauffage"){
					$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').css('display', 'inline-block')
					$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').css('color', 'red!important')
					$('.eqLogic[data-eqLogic_uid=#uid#] .action_en_cours').append('Chauffage boost (manuel)')
					$('.eqLogic[data-eqLogic_uid=#uid#] .Chauffage').css('pointer-events', 'none')
					$('.eqLogic[data-eqLogic_uid=#uid#] .Chauffage').css('color', 'white')
				}
				if ('#action_en_cours#' == "Climatisation"){
					$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').css('display', 'inline-block')
					$('.eqLogic[data-eqLogic_uid=#uid#] .boost_off').attr('style', 'color: #3498db!important ;display: inline-block; font-size: 1.9em; margin-left: 5px;');
					$('.eqLogic[data-eqLogic_uid=#uid#] .action_en_cours').append('Climatisation boost (manuel)')
					$('.eqLogic[data-eqLogic_uid=#uid#] .Climatisation').css('pointer-events', 'none')
					$('.eqLogic[data-eqLogic_uid=#uid#] .Climatisation').css('color', 'white')
					
				}
				
				if('#endtime#' != ""){
					$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
					$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Auto')
					$('.eqLogic[data-eqLogic_uid=#uid#] .heure_prochaine_action').append('#endtime#')
				}else{
					$('.eqLogic[data-eqLogic_uid=#uid#] .fleche').append('<i class="fa fa-arrow-right"></i>')
					$('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Réactivation manuelle')
				}
				break
		
			
		}
		
		
		
		

		
		if ($('.eqLogic[data-eqLogic_uid=#uid#] .page_2').css('display') == 'block'){
			reset_page('#id#',"#uid#",'page2','#action_en_cours#')
		}else{
			reset_page('#id#',"#uid#",'page1','#action_en_cours#')
		}
		
	</script>
	
</div>