<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#"
    data-tags="#tags#" style="max-height:220px!important;min-height:220px!important;min-width:113px!important;max-width:113px!important">

    <center class="object_name" style="overflow: hidden;padding-right:22px;padding-left:12px;font-weight:300;word-break: break-all;max-height:45px;font-size:16px;background-color: rgba(0,0,0,0.6);font-family:Arial;font-weight:normal;">
        <a href="#eqLink#" class="reportModeHidden">#object_name#</a>

    </center>
    <center class="widget-name" style="margin-bottom: 0px;max-height:22px;">
        <a href="#eqLink#" class="reportModeHidden">#name_display#</a>
    </center>

   
    <div class="tuile center">
        

        <img class="img cmd cmd-widget" data-type="info" src='' style='height:80px' />
        <span class="nom_eqLogic" style="display:none;position: absolute;top: 80px;width: 100%;color: black;font-weight: 300;font-size: 16px;">#name_display#</span>
        <span>
            <img class="img_auto_manu cmd cmd-widget" data-type="info" src='' style="position: absolute;top: 20px;left:calc(50% + 25px);height:20px" />       
        </span>
        <span class="refresh cmd  pull-right cursor" style="position: absolute;right: 0px;top:0px" data-cmd_id="#refresh_id#">
            <i class="fas fa-sync"></i>
        </span>
        <div>
            <img class="on cmd cmd-widget cursor" data-type="action" id="#on_id#" src='plugins/planification/core/template/dashboard/images/Prise/power_off.png' style='width:30px' title="Allumer la prise" />
            <img class="off cmd cmd-widget cursor" data-type="action" id="#off_id#" src='plugins/planification/core/template/dashboard/images/Prise/power_on.png' style='width:30px' title="Eteindre la prise" />
        </div>
        <div class="prochaine_action tooltips" style="font-size: 0.9em;margin: 5px;color:white!important">
            <span style="cursor:default;"></span>
        </div>
          
    
        <div style="display: block;"> 
            <select class="selectPlanification cmd cursor tooltips" style="display:none;position: relative;width:70%;color:white!important;border-radius: 10px!important" title="Choisir une planification">
            #calendar_selector#
            </select>    
            <a class='bt_afficher_timepicker input-group-addon cursor tooltips' style=" top: 2px;margin: auto;padding: 5px 12px!important;display:block;width:70%;color:white!important;border-radius: 10px!important;position:relative;" title="Choisir Fin">
                <span class="center fa fa-calendar" style="color:white"> 
                    <input class="in_timepicker input-sm" style="position:absolute;left:30%;top:50%;height: 0px!important;width: 0px!important; padding: 0px!important;">
                </span>
            </a>
        </div> 
    </div>
   <script>
   function loadScript(url, callback) {
    // Vérifier si le script est déjà chargé
        if (document.querySelector(`script[src="${url}"]`)) {
            waitForFunctions(callback);
            return;
        }

        let script = document.createElement('script');
        script.src = url;

        script.onload = function() {
            waitForFunctions(callback);
        };   
        document.head.appendChild(script);
    }

    function waitForFunctions(callback) {
        if (typeof Affichage_widget === 'function' && typeof Commun_widget === 'function' && typeof SetWidget_Thermostat == 'function' && typeof Maj_Thermostat == 'function' && typeof Reset_page == 'function') {
            callback();
        } else {
            setTimeout(() => waitForFunctions(callback), 50);
        }
    }
    loadScript('plugins/planification/core/template/dashboard/js/widget.js', function() { 
        
        var cmds_id = {
            premier_affichage: '#premier_affichage#',
            nom_eqlogic:'#nom_eqlogic#',
            auto_id: '#auto_id#',          	
            eqLogic_id: '#id#',
            page: '#page#',
            mode: '#mode#', mode_id: '#mode_id#',
            mode_planification : '#mode_planification#',
            etat: '#etat#', etat_id: '#etat_id#',
            action_en_cours:'#action_en_cours#',action_en_cours_id:'#action_en_cours_id#',
            action_suivante:'#action_suivante#',action_suivante_id:'#action_suivante_id#',
            calendar_selector: '#calendar_selector#',
            heure_fin: '#heure_fin#',heure_fin_id: '#heure_fin_id#',
            planification_en_cours : '#planification_en_cours#', planification_en_cours_id: '#planification_en_cours_id#',
            set_heure_fin_id: '#set_heure_fin_id#',
			set_planification_id: '#set_planification_id#',
	                    
            on_id: '#on_id#',
            off_id : '#off_id#'
        };
        Affichage_widget('Prise',cmds_id)
    })

    
    </script>

</div>