
<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="min-width:100px!important;width: #width#;height: #height#;#style#"> 
	<center class="object_name" style="overflow: hidden;padding-right:22px;padding-left:12px;font-weight:300;word-break: break-all;max-height:45px;font-size:16px;background-color: rgba(0,0,0,0.6);font-family:Arial;font-weight:normal;">
		<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
			<i class="fas fa-sync"></i>
		</span>
		<a href="#eqLink#" class="reportModeHidden">#object_name#</a>
		
	</center>
	<center class="widget-name" style="margin-bottom: 0px;max-height:22px;">
		<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
			<i class="fas fa-sync"></i>
		</span>
		<a href="#eqLink#" class="reportModeHidden">#name_display#</a>
	</center>
	<i class="fa fa-retweet cursor tooltips changecmd noRefresh" title="Changer commandes" style="position : absolute;bottom: 3px;right: 3px;z-index: 500;"></i>

	<div class="tuile">
		<div class="page_1 center" style="display : #display_page_1#;">
			<br/>
			
			<div style="height: 80px;">
				<img class="cmd cmd-widget auto"  data-type="info" src='plugins/planification/core/template/dashboard/images/Volet/#img#' style='width:80px'/>
				<span class="nom_eqLogic" style="display:none;position: relative;top: -35px;color: black;font-weight: 300;font-size: 16px;">#name_display#</span>
			</div>
			
			<div>
				<img class="cmd cmd-widget ouvrir cursor" data-type="action" src='plugins/planification/core/template/dashboard/images/Volet/ouvrir.png' style='width:30px'/> 
				<img class="cmd cmd-widget my cursor" data-type="action" src='plugins/planification/core/template/dashboard/images/Volet/my.png' style='width:30px'/> 
				<img class="cmd cmd-widget fermer cursor" data-type="action" src='plugins/planification/core/template/dashboard/images/Volet/fermer.png' style='width:30px'/> 
			</div>
			<div class="prochaine_action tooltips" style="font-size: 0.9em;margin: 5px;color:white!important" >
				<span style="cursor:default;" ></span>
			</div>
		</div>
		
		<div class="page_2 center" style="display : #display_page_2# ;margin-top : 10px">
			<br/>
			<div style="position:relative;top: 30px;">
				<select class="cmd selectCalendar cursor tooltips" style="width:70%;color:white!important;border-radius: 10px!important" title="Choisir une planification">
					#calendar_selector#
				</select>
			</div>
			<div class='input-group-addon cursor tooltips date datetimepicker'style="padding: 6px 12px!important;display:block;width:70%;color:white!important;border-radius: 10px!important;position:relative;top: 50px;" title="Choisir Fin">
				<span class="center fa fa-calendar" style="color:white"></span>
			</div>
		</div>
            
            
		
	</div>
    <script>
		if($('.eqLogic[data-eqLogic_uid=#uid#] .object_name').css("display") == "block"){
			var taille = parseInt($('.eqLogic[data-eqLogic_uid=#uid#] .object_name').css('height').replace(/px/i, ''))
			if($('.eqLogic[data-eqLogic_uid=#uid#] .widget-name').css("display") == "block"){
				$('.eqLogic[data-eqLogic_uid=#uid#] .widget-name').css("display","none")
				$('.eqLogic[data-eqLogic_uid=#uid#] .nom_eqLogic').css("display","block")
			}			
			$('.eqLogic[data-eqLogic_uid=#uid#] .tuile').css("height","calc(100% - "+taille+"px)")
			$('.eqLogic[data-eqLogic_uid=#uid#] .tuile').css("background-color","rgba(0,0,0,0.5)")
			$('.eqLogic[data-eqLogic_uid=#uid#]').css('box-shadow','0px 0px 3px 3px rgba(255,255,255,1)')
		}
		
        $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
            jeedom.cmd.execute({id: '#refresh_id#'});
        });
        $('.eqLogic[data-eqLogic_uid=#uid#] .ouvrir').on('click', function () {
            jeedom.cmd.execute({id: '#ouvrir_id#'});
        });
        $('.eqLogic[data-eqLogic_uid=#uid#] .fermer').on('click', function () {
            jeedom.cmd.execute({id: '#fermer_id#'});
        });
        $('.eqLogic[data-eqLogic_uid=#uid#] .my').on('click', function () {
            jeedom.cmd.execute({id: '#my_id#'});
        });
		$('.eqLogic[data-eqLogic_uid=#uid#] .auto').on('click', function () {
			if('#mode#' == "Manuel"){ jeedom.cmd.execute({id: '#auto_id#'});}
        });
        $('.eqLogic[data-eqLogic_uid=#uid#] .nom_eqLogic').on('click', function () {
			if('#mode#' == "Manuel"){ jeedom.cmd.execute({id: '#auto_id#'});}
        });
       
        switch ('#mode#'){
			case "Auto":
				$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').css('display', 'none')
				if('#prochaine_action#' != ""){
                    if('#endtime#'.length == 5){
                        $('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('#prochaine_action# à #endtime#')
                    }else{
                        $('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('#prochaine_action# le #endtime#')
                    }
				}
                $('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').prop('title', 'Planification en cours: #planification_en_cours#');
				
                break
			case "Manuel":
				$('.eqLogic[data-eqLogic_uid=#uid#] .auto').addClass("cursor")
				$('.eqLogic[data-eqLogic_uid=#uid#] .nom_eqLogic').addClass("cursor")
                if('#endtime#' != ""){
                    if('#endtime#'.length == 5){
                        $('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Remise en auto à #endtime#')
                    }else{
                        $('.eqLogic[data-eqLogic_uid=#uid#] .prochaine_action').append('Remise en auto le #endtime#')
                    }
                }
				switch('#action_en_cours#') {
					case "Ouverture":
						$('.eqLogic[data-eqLogic_uid=#uid#] .ouvrir').css('pointer-events', 'none')
                        break
                    case "My":
						$('.eqLogic[data-eqLogic_uid=#uid#] .my').css('pointer-events', 'none')
						break
                    case "Fermeture":
						$('.eqLogic[data-eqLogic_uid=#uid#] .fermer').css('pointer-events', 'none')
						break
				}
				break
	
		
			
		}
        if ($('.eqLogic[data-eqLogic_uid=#uid#] .selectCalendar option').length <= 1){
			$('.eqLogic[data-eqLogic_uid=#uid#]  .selectCalendar').css('display', 'none');
            if($('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').css('display') == 'none'){
                $('.eqLogic[data-eqLogic_uid=#uid#]  .changecmd').css('display', 'none');
            }
		}
        if ($('.eqLogic[data-eqLogic_uid=#uid#] .page_2').css('display') == 'block'){
			reset_page('#id#',"#uid#",'page2','#action_en_cours#')
		}else{
			reset_page('#id#',"#uid#",'page1','#action_en_cours#')
		}
		
		
		$('.eqLogic[data-eqLogic_uid=#uid#] .selectCalendar').on('change', function() {
			jeedom.cmd.execute({id: '#set_planification_id#', value: {'select': $(this).value(),Id_planification:$(this)[0].options[$(this)[0].selectedIndex].id}});
		});

		$('.eqLogic[data-eqLogic_uid=#uid#] .changecmd').on('click', function () {
			var page="page1"
			if ($('.eqLogic[data-eqLogic_uid=#uid#] .page_2').css('display') == 'block'){
				page="page1"
				
				reset_page('#id#',"#uid#","page1",'#action_en_cours#')
			}else{
				page="page2"
				reset_page('#id#','#uid#','page2','#action_en_cours#')
			}
			$.ajax({
				type: "POST",
				url: "plugins/planification/core/ajax/planification.ajax.php",
				data: {
					action: "Set_widget_cache",
					id: "#id#",
					page : page,
				},
				global: false,
				error: function (request, status, error) {handleAjaxError(request, status, error)},
				success: function (data) {
					if (data.state != 'ok') {
						$('#div_alert').showAlert({
							message: data.result,
							level: 'danger'
						})
						return
					}
					
				}
			})	
			
		});
			
		function reset_page(id,uid,page,action_en_cours){
			if (page == 'page1'){
				$('.eqLogic[data-eqLogic_uid='+uid+'] .page_1').css('display', 'block')
				$('.eqLogic[data-eqLogic_uid='+uid+'] .page_2').css('display', 'none')
				if (action_en_cours=="Arrêt"){
					$('.eqLogic[data-eqLogic_uid='+uid+'] .droite').find(".page_1").css('display', 'none')
				}else if (action_en_cours=="Absent"){
					$('.eqLogic[data-eqLogic_uid='+uid+'] .droite').find(".page_1").css('display', 'none')
				}else if (action_en_cours=="Ventilation"){
					$('.eqLogic[data-eqLogic_uid='+uid+'] .droite').find(".page_1").css('display', 'none')
				}else{
					$('.eqLogic[data-eqLogic_uid='+uid+'] .droite').find(".page_1").css('display', 'block')
				}
			}
			if (page == 'page2'){
				$('.eqLogic[data-eqLogic_uid='+uid+'] .page_2').css('display', 'block')
				$('.eqLogic[data-eqLogic_uid='+uid+'] .page_1').css('display', 'none')
				setTimeout(function(){ 
					$.ajax({
						type: "POST",
						url: "plugins/planification/core/ajax/planification.ajax.php",
						data: {
							action: "Set_widget_cache",
							id: id,
							page :"page1",
						},
						global: false,
						error: function (request, status, error) {handleAjaxError(request, status, error)},
						success: function (data) {
							if (data.state != 'ok') {
								$('#div_alert').showAlert({
									message: data.result,
									level: 'danger'
								})
								return
							}
						}
					})
					reset_page(id,uid,"page1",action_en_cours)

		
					
				
				},60000);
			}
			
		}
		
		$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').val('#datetimepicker#');
		jQuery.datetimepicker.setLocale('fr');
		$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').on('click', function () {
			
			$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').datetimepicker({
				minDate : '0d',
				step: 15,
				theme:'dark',
				onClose:function(dp,$input){
					console.log("close")
					$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').datetimepicker('destroy')
				},
				onSelectTime:function(dp,$input){
					jeedom.cmd.execute({id: '#endtime_change_id#', value: {'message': $input.val()}})
				}
			});
			$('.eqLogic[data-eqLogic_uid=#uid#] .datetimepicker').datetimepicker('show');
		});
	</script>
	
</div>